<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
      
    <!-- Mission to Mars Report -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3>Mars Featured Image</h3>
        <img src={{ mars.featured_image_url }} width: 50% />
        <h3>Latest Mars News</h3>
        <ui>
          {% for article in mars.nasa_news_articles %}
          <li><h6>{{ article.title}}</h6>
            <p>{{ article.blurb}}</p></li>
          {% endfor %}
        </ui>
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3>Mars Facts</h3>
        {{ mars.mars_profile_table_html}}
        
      </div>
    </div>
    <h3>Mars Hemispheres</h3>
    <div class="card-deck">
      <div class="col-md-12">
          <div class="row">
              {% for item in mars.hemisphere_image_urls %}
              <div class='col-md-6'>
                <div class="card text-white bg-dark" style="margin: 30px;">
                  <img class='card-img-top' src="{{ item.img_url }}" />
                  <div class="card-body">
                    <p class="card-text">{{ item.title }}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
          </div>
      </div>
    </div>



    
  </div>

</body>
</html>

